body{
    background-color: #3c3c3c;
}

h1.heading{
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ff5a5f;
    text-align: center;
    font-size: clamp(5rem ,20vw, 7rem);
}

.buttonsForCalculator{
    display: flex;
}

section.container{
  
    width: 40vw;
    padding: 1%;
    margin: auto;
}

div.screen{
    background-color: white;
    font-size: 33px;
    height: 7vw;
    padding: 0 1vw;
    border: 10px solid #2f2f2f;
    overflow-x: auto;

    /* This will add a vertical scrollbar if the text overflows the container */
    overflow-y: auto;

    /* Or use 'overflow: auto;' to handle both directions at once */

    /* This will break long words and wrap them to the next line */
    word-wrap: break-word;

    /* This will break words at the nearest space to prevent overflow */
    white-space: normal;
}
p.answer{
    margin: auto;
    font-size: 5.8vw;
    text-align: end;
    
   
    align-items: center;
}
div.buttonsForCalculator{
   height: auto;
   border: 10px #2f2f2f solid;
    display:flex;
    
    align-items: center;   
    flex-direction: column; 
   
}
div.zerorow{
    display: flex;
    justify-content: space-between;
}
#dividebutton,#multiplybutton,#subtractbutton,#addbutton
,#equalbutton{
    background-color: #ff8f1f;
}

#percentagebutton,#dividebutton,#decimalbutton,#equalbutton{
    width: 26.6%;
}

button {
    cursor: pointer;
    font-size: 4vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #217c7e;
    padding: 2vw 3vw;
   
    width: 10vw;
    text-align: center;
    text-decoration: none;
    outline:black 3px solid;
    color: black;
    margin: 3px;
    border: none;
    border-radius: 6px;
    
    
}

#equalbutton{
}  

button:active ,#resetbutton:active,#percentagebutton:active,
#dividebutton:active,
#multiplybutton:active,
#subtractbutton:active,
#addbutton:active,
#equalbutton:active{
    background-color: #5e5e5e; /* Change color when pressed */
     /* Change box shadow when pressed */
    transform: translateY(4px); /* Move slightly down when pressed */
}
.fourthrow{
   display: flex;
   width: 100%;
}
  #resetbutton,#zerobutton{
   width: 60%;
}

#resetbutton,#percentagebutton{
    background-color: #1e90ff;
}
.rows{
    display: flex;
    justify-content: space-between;
 
    width: 100%;
}
#percentagebutton{
    width:24%;
  }